@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("https://images.unsplash.com/photo-1465833981072-cc099edacfc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
	background-color: #26547c;
}

button {
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	background: url("../../src/assets/buttonbackground.jpg");
}

#main-wrapper {
	display: grid;
	grid-template-rows: auto auto;
	height: 100vh;
}

#control-buttons-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#loop-buttons-wrapper {
	display: flex;
	justify-content: space-around;
	grid-row: 2 / 3;
	align-items: center;
}
