* {
	margin: 0;
	padding: 0;
}

body {
	/* initial background color */
	/* background-color: #e9e2e3; */
	background-color: #26547c;
}

#main-wrapper {
	display: grid;
	grid-template-rows: auto auto;
	height: 100vh;
}

#control-buttons-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#loop-buttons-wrapper {
	display: flex;
	justify-content: space-around;
	grid-row: 2 / 3;
	align-items: center;
}
